*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.board{
  background: url('../images/gameboard2.png') no-repeat;
  background-size: 100%;
  width: 908px;
  height: 709px;
  float: left;
  padding-left: 18px;
}

[class*='col-'] {
  width: 109px;
  float: left;
  height: 109px;
}

[class*='col-0'] {
  margin-top: 27px;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

img {
  width: 109px;
  position: relative;
  transition: all .5s 1s;
  z-index: 10;
}

img:hover {
  position: relative;
  width: 350px;
  z-index: 900;
}

p {
  font-size: 30px;
}

.life {
  color: red;
}

.command {
  color: gold;;
}

.mana {
  color: dodgerblue;
}

.playable {
  border: 2px solid green;
}
